*** Settings ***
Library       pyats.robot.pyATSRobot
Library       unicon.robot.UniconRobot
Library       genie.libs.robot.GenieRobot
Library       Collections

Suite Setup   use testbed "${testbed}"

*** Variables ***
${testbed}       ./testbed.yaml

*** Test Cases ***

