*** Settings ***
Library       pyats.robot.pyATSRobot
Library       unicon.robot.UniconRobot
Library       genie.libs.robot.GenieRobot
Library       Collections

Suite Setup   setup

*** Variables ***
${testbed}       ./testbed.yaml

*** Test Cases ***

{% for device in devices %}
Check OSPF interface state on device {{ device.name }}
    [Tags]    robot:continue-on-failure
    ${result}=  parse "show ip ospf neighbor detail" on device "{{ device.name }}"
    Log Dictionary   ${result}
    ${interfaces}=  dq query  data=${result}  filters=get_values('interfaces')
    Log   ${interfaces}
    ${s}=   Evaluate  {{ device.params.ospf_interfaces }}
    Log  ${s}
    {% for ospf_int in device.params.ospf_interfaces %}
    List Should Contain Value   ${interfaces}   {{ ospf_int.name }}   msg=OSPF interface {{ ospf_int.name }} has no neighbors
    {% endfor %}
{% endfor %}


*** Keywords ***
setup
    use testbed "${testbed}"
{% for device in devices %}
    connect to device "{{ device.name }}"
{% endfor %}
