# vars in gitlab-ci env:
#  RUNNER_IMAGE: dockerhub.cisco.com/as-dev-docker-local/cisco/cleur21_semops21:v2

stages:
  - validate
  - provision
  - deploy
  - test
  - notify

# we want to use different deployment parameters (i.e. different DNAC 
# server and/or project) and different notification rules depending on 
# if we run in master branch or in non-master branches
before_script:
  - source scripts/vars.sh

# perform some input validation of the templates and deploy yaml files
validate:
  image: ${RUNNER_IMAGE}
  stage: validate
  script:
    - python scripts/validate.py

# provision templates on DNAC, delete those which have been removed from the repo
provision_templates:
  image: ${RUNNER_IMAGE}
  stage: provision
  only:
    changes:
      - ".gitlab-ci.yml"
      - "dnac-templates/*"
      - "deployment/*"
      - "deployment-preprod/*"
      - "scripts/*.py"
  artifacts:
    when: always
    paths:
      - results-1-provision.json
  script:
    - python scripts/provision_templates.py --config $CONFIG_YAML --template_dir $TEMPLATE_DIR --results results-1-provision.json $DEBUG

preview_templates:
  image: ${RUNNER_IMAGE}
  stage: deploy
  only:
    changes:
      - ".gitlab-ci.yml"
      - "dnac-templates/*"
      - "deployment/*"
      - "deployment-preprod/*"
      - "scripts/*.py"
  artifacts:
    when: always
    paths:
      - template-preview.txt
  script:
    - python scripts/preview_templates.py --config $CONFIG_YAML --outfile template-preview.txt --deploy_dir $DEPLOY_DIR $DEBUG

#  deploy templates on devices (environment controlled through vars.sh settigns)
deploy_templates:
  image: ${RUNNER_IMAGE}
  stage: deploy
  only:
    changes:
      - ".gitlab-ci.yml"
      - "dnac-templates/*"
      - "deployment/*"
      - "deployment-preprod/*"
      - "scripts/*.py"
  artifacts:
    when: always
    paths:
      - results-2-deploy.json
  script:
    - python scripts/deploy_templates.py --config $CONFIG_YAML --deploy_dir $DEPLOY_DIR --results results-2-deploy.json $DEBUG

test:
  image: ${RUNNER_IMAGE}
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "dnac-templates/*"
      - "deployment/*"
      - "deployment-preprod/*"
      - "scripts/*.py"
      - "tests/**/*"
  artifacts:
    when: always
    paths:
      - tests/out/*
      - tests/deploy/*
      - results-3-tests.json
    reports:
      # test results also shown in gitlab's test tab
      junit: tests/out/output-junit.xml
  script:
    - rm -rf tests/deploy || true
    - python scripts/render_tests.py --config $CONFIG_YAML --deploy_dir $DEPLOY_DIR --out_dir tests/deploy/ $DEBUG
    # run all robot in this directory (recursively)
    - cd tests
    - robot --name 'DNAC Template Tests' --outputdir out/ --xunit output-junit.xml --variable testbed:$TESTBED --extension robot .
  after_script:
    - python scripts/parse_testresults.py tests/out/output.xml results-3-tests.json

# last step in the pipeline to report status
# we need multiple steps here as we want/need to differentiate between success
# and failures.. the $(CI_JOB_STATUS) unfortunatly is not available in the
# gitlab release used for this demo

notify_success:
  image: ${RUNNER_IMAGE}
  stage: notify
  when: on_success
  script:
    - ATTACH="" ; for f in tests/out/log.html template-preview.txt  ; do test -f $f && ATTACH="$ATTACH --attach $f"; done; echo $ATTACH
    - RESULTS="" ; for f in results*json ; do test -f $f && RESULTS="$RESULTS --results $f" ; done ; echo $RESULTS
    - python scripts/notify.py --config $CONFIG_YAML $ATTACH $RESULTS  "✅ Pipeline on branch \"$CI_BUILD_REF_NAME\" completed successfully ($CI_PIPELINE_URL)"

notify_failure:
  image: ${RUNNER_IMAGE}
  stage: notify
  when: on_failure
  script:
    - ATTACH="" ; for f in tests/out/log.html template-preview.txt  ; do test -f $f && ATTACH="$ATTACH --attach $f"; done; echo $ATTACH
    - RESULTS="" ; for f in results*json ; do test -f $f && RESULTS="$RESULTS --results $f" ; done ; echo $RESULTS
    - python scripts/notify.py --config $CONFIG_YAML $ATTACH $RESULTS "❌ Pipeline on branch \"$CI_BUILD_REF_NAME\" failed ($CI_PIPELINE_URL)"
