# config file for CICD provisioning script

# dnac structure elements can reference
# environmnet variables, i.e.
#   password: '%ENV(DNAC_PASSWORD)'
#
dnac:
  base_url: https://198.18.129.100
  # Note: the scripts have been tested with 2.2.3.3. Earlier versions might show issues
  version: 2.2.3.3
  username: '%ENV{DNAC_USERNAME}'
  password: '%ENV{DNAC_PASSWORD}'
  verify: False

# DNAC project we maintain
template_project: CICD

notify:
  # specify room_id and/or WebexTeams person email
  room_id: Y2lzY29zcGFyazovL3VzL1JPT00vMjk3YTljYjAtZGUxZC0xMWU5LThkMzMtNmI0ZWU1YzY0ODQ0
  # persons:
  #   - oboehmer@cisco.com

