# dnacentersdk doesn't expose language parameter for create/update_template
# using fork which adds this
#dnacentersdk==2.0.2
git+https://github.com/oboehmer/dnacentersdk.git@cleur21
webexteamssdk==1.6
attrdict==2.0.1
PyYAML==5.3.1
Jinja2==2.11.2
pyats==20.10
pyats.robot==20.10
unicon==20.10
unicon.plugins==20.10
genie==20.10
genie.libs.robot==20.10
